* {
    font-family: 'Times New Roman', Times, serif;
}

.text-festiu {
    display: flex;
    flex-flow: row wrap;
    gap: 100px;
    font-weight: bold;
}

.calendarios {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

table {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 7px 0px 0px #000;
}

table thead td {
    text-align: left;
    font-weight: bold;
    padding-bottom: 10px;
}

.dias_semana td {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 8px;
    background-color: black;
    border: 3px solid black;
    color: white;
}

tbody td {
    text-align: center;
    padding: 8px;
}

.color-circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 8px;
}

.nacional {
    color: lightgreen;
}

.regional {
    color: #9146FF
}

.local {
    color: deeppink;
}

.centre {
    color: yellowgreen;
}

.dia-nacional {
    background-color: lightgreen;
    border: 3px solid lightgreen;
}

.dia-regional {
    background-color: #9146FF;
    border: 3px solid #9146FF;
}

.dia-local {
    background-color: deeppink;
    border: 3px solid deeppink;
}

.dia-centre {
    background-color: yellowgreen;
    border: 3px solid yellowgreen;
}