.specs-content {
    background-color: #FFF;
    margin: 3rem;

    .specs-info {
        padding: 2rem 3rem;

        .specs {
            h2 {
                font-size: 30px;
                font-weight: 700;
            }

            ul {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
}